.Article {
  display: flex;
  flex-direction: column;
  width: 70vw;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 14px 24px 14px;

  &__header {
    display: flex;
    margin-bottom: 7px;
  }

  .Title {
    margin-right: auto;

    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
    }

    &__link {
      text-decoration: none;
      margin-right: 13px;
    }

    &__count {
      margin-left: 5px;
    }
  }

  .User-info {
    margin-right: 12px;

    &__data {
      font-size: 12px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__content {
    width: 75%;

    &--single {
      width: unset;
      display: flex;
      flex-direction: column;
    }

    &__markdown > * {
      word-wrap: break-word;
    }
  }
}
