.Article {
  display: flex;
  flex-direction: column;
  width: 70vw;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 14px 24px 14px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__btn {
    background: none;
    border: none;
    padding: 0;
  }

  .Title {
    display: flex;
    flex-direction: column;

    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    &__content {
      display: flex;
      margin-bottom: 6px;
    }

    &__link {
      text-decoration: none;
      margin-right: 13px;
    }

    &__count {
      margin-left: 5px;
    }

    &__text {
      font-size: 12px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .User-info {
    &__wrapper {
      margin-right: 12px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__btns {
      display: flex;
      justify-content: space-between;
    }

    &__data {
      font-size: 12px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__body {
    width: 75%;

    &--single {
      width: unset;
      display: flex;
      flex-direction: column;
    }

    &__markdown > * {
      word-wrap: break-word;
    }
  }
}
