.Form {
  width: 384px;

  display: flex;
  flex-direction: column;

  // &__title {
  //   color: #262626;
  //   font-size: 20px;
  //   line-height: 28px;
  //   text-align: center;
  //   margin-bottom: 21px;
  // }

  // &__wrapper {
  //   display: flex;
  //   flex-direction: column;
  // }

  label {
    margin-bottom: 12px;
  }

  input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    // margin-bottom: 12px;
    margin-top: 2px;

    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &[type="checkbox"] {
      width: 16px;
      height: 16px;
      display: unset;
      margin-right: 5px;
    }
  }

  &__error {
    margin-top: -12px;
    margin-bottom: 12px;

    &-text {
      color: #f5222d;
      font-size: 14px;
      line-height: 22px;
    }

    label &-input {
      border: 1px solid #f5222d;
    }
  }

  &__btn {
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 8px;

    background-color: #1890ff;
    border: none;
    border-radius: 4px;

    color: #ffffff;
    font-size: 16px;
    line-height: 24px;

    &--disabled {
      opacity: 0.5;
    }
  }
}
